version.py
# Build related
build
dist
.coverage
.pytest_cache
*.egg-info

# Temp files
.ipynb_checkpoints
tmp*
temp*
tmp*.*
temp*.*
.cache
.DS_Store

# Output files
*.png
*.pdf
*.mp4

# Python compiled files
*.pyc
*.pyo
*.pyd

